:root {
    --color-primary-light: #537bae;
    --color-secondary: #007dfe;
    --color-primary: #012c5f;
    --color-white: #FFF;
    --color-black: #343434;
    --color-danger: #DC3545;
    --color-danger-light: #f8d7da;
    --color-danger-light-medium: #f5c2c7;
    --color-danger-heavy: #842029;
    --color-default: #fff;
    --color-muted: #717881;
}

.color-text-primary-light { color: var(--color-primary-light) }

.color-text-secondary { color: var(--color-secondary) }

.color-text-primary { color: var(--color-primary) }

.color-text-white { color: var(--color-white) }

.color-text-black { color: var(--color-black) }

.color-text-danger { color: var(--color-danger) }

.color-text-danger-light { color: var(--color-danger-light) }

.color-text-danger-medium { color: var(--color-danger-light-medium) }

.color-text-heavy { color: var(--color-heavy) }

.color-text-muted { color: var(--color-muted ) }


.bg-primary-light { background-color: var(--primary-light)}

.bg-secondary { background-color: var(--color-secondary) }

.bg-primary { background-color: var(--color-primary)}

.bg-white { background-color: var(--color-white) }

.bg-black { background-color: var(--color-black) }

.bg-danger { background-color: var(--color-danger) }

.bg-danger-light { background-color: var(--color-danger-light) }

.bg-danger-light-medium { background-color: var(--color-danger-light-medium) }

.bg-danger-heavy { background-color: var(--color-danger-heavy) }
