header {
    
    padding: 0 2rem;
    background: #002c69;
    height: 5rem;

    .header-logo {
        color: #FFF;
        font-weight: 500;
        font-family: 'Arial Black';
        font-size: 1.5rem;

        span {
            font-weight: 300;
            font-family: "arial";
            color: #DDD;
        }
    }

    .profile {

        img {
            clip-path: circle();
            width: 45px;
            height: 45px;
        }
    }
}