<aside class="ranking position-relative">
    <header class="text-center my-4">
        <h3>Ranking Global</h3>
    </header>
    
    <div class="table-container">
        <div class="d-flex align-items-center justify-content-end py-2">
            <ngb-pagination 
                [collectionSize]="pagination.collection_size" 
                [pageSize]="pagination.page_size"
                [(page)]="pagination.page" 
                (pageChange)="setPagination()"
                [boundaryLinks]="true">
            </ngb-pagination>
        </div>

        <table aria-describedby="mydesc">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Cidade</th>
                <th scope="col">Estado</th>
                <th scope="col">Tempo</th>
                <th scope="col">Acertos</th>
                <th scope="col">Erros</th>
                <th scope="col">TPM</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let people of peoples">
                <td>
                    <div class="d-flex flex-column gap-2">
                        {{ people.name || 'Anônimo' }}  
                    </div>
                </td>
                <td>
                    <div class="d-flex flex-column gap-2">
                        {{ people.city || '-' }}
                    </div>
                </td>
                <td>
                    <div class="d-flex flex-column gap-2">
                        {{ people.state || '-' }}
                    </div>
                </td>
                <td>
                    <div class="d-flex flex-column gap-2">
                        {{ people.time }}
                    </div>
                </td>
                <td>
                    <div class="d-flex flex-column gap-2">
                        {{ people.hits }}
                    </div>
                </td>
                <td>
                    <div class="d-flex flex-column gap-2">
                        {{ people?.errors_count || 0 }}
                    </div>
                </td>
                <td>
                    <div class="d-flex flex-column gap-2">
                        {{ people.tpm }}
                    </div>
                </td>
              </tr>

              <div class="d-flex align-items-center justify-content-center py-2" >
                    <span *ngIf="peoples?.length === 0 && !loader" >Nenhum registro encontrado</span>

                    <span *ngIf="loader">
                        <app-loader color="var(--color-primary)"></app-loader>
                    </span>
              </div>
            </tbody>

        </table>
    </div>
</aside>