<app-header></app-header>

<div class="content mt-5">
    <h2>Vamos começar o teste de velocidade agora!</h2>
    <span>Não trapaceie, estamos de olho!</span>

    <form autocomplete="off" class="d-flex mt-5 mb-2">
        <div class="form-group mb-0">
            <div class="floating-label">
                <input 
                    [(ngModel)]="people.name"
                    type="text"
                    id="title"
                    name="title"
                    placeholder=" "
                    class="form-field"
                /> 
                <label for="title">Seu nome</label>
            </div>
        </div>
        <div class="form-group mb-0">
            <div class="floating-label">
                <input 
                    [(ngModel)]="people.city"
                    type="text"
                    id="title"
                    name="title"
                    placeholder=" "
                    class="form-field"
                /> 
                <label for="title">Cidade</label>
            </div>
        </div>
        <div class="form-group mb-0">
            <div class="floating-label">
                <input  
                    [(ngModel)]="people.state"
                    type="text"
                    id="title"
                    maxlength="2"
                    name="title"
                    placeholder=" "
                    class="form-field text-uppercase"
                /> 
                <label for="title">Estado</label>
            </div>
        </div>
        <button (click)="prepareToStart($event)" class="d-flex btn btn-theme">Começar!!!</button>
    </form>  

    <div class="card mt-3 p-3 text" [class.hasError]="hasError">
        <span 
            *ngFor="let letter of letters" 
            [id]="letter.id" 
            [class]="'transition-200ms noselect ' + letter.class"
            [class.bg-success]="finished()">{{ letter.text }}</span>
    </div>

    <div>
        <textarea 
            blockCopyPaste
            #inputTextarea
            [disabled]="!isPrepared || finished()"
            (input)="checkText()"
            (keypress)="hasError ? $event.preventDefault() : true"
            name="text" 
            class="text"
            id="text" 
            cols="30" 
            rows="10"></textarea>

        <div>
            <strong>Tempo: </strong>
            <span id="time">
                {{ getTime() }}
            </span> | 
        
            <strong>Acertos: </strong>
            <span id="win">{{ hitCounter }}</span> | 

            <strong>Erros: </strong>
            <span id="lost">{{ erroCounter }}</span> | 

            <strong>Digitando: </strong>
            <span id="currentstr">{{ inputTextarea.value.length }}</span> de
            <span id="totalstr">{{ letters.length }}</span> caracteres. |

            <strong>TPM: </strong>
            <span id="tpm">{{ calculeTPM() }}</span><br>

            <button (click)="restart()" type="button" class="btn btn-warning mt-3">Começar um novo teste</button>
        </div>
    </div>

    <div class="my-5">
        <app-ranking></app-ranking>
    </div>

</div>

<router-outlet></router-outlet>

<app-modal (onCloseModal)="closeModal()" *ngIf="finished() && isModalOpen">
    <header class="modal-header">
        <h1>Parabéns você conseguiu :)</h1>
    </header>

    <div class="modal-body">
        <div>
            <h5 class="mb-3">Aqui estão suas estatísticas:</h5>
            
            <p>
                <strong>TPM: </strong>
                <span>{{ calculeTPM() }}</span>
            </p>
            <p>
                <strong>Tempo: </strong>
                <span>{{ getTime() }}</span>
            </p> 
            <p>
                <strong>Acertos: </strong>
                <span>{{ hitCounter }}</span>
            </p> 
            <p>
                <strong>Erros: </strong>
                <span>{{ erroCounter }}</span>
            </p>
        </div>
    </div>
</app-modal>